/* Cabeçalho */
header {
    text-align:center;
    color:rgb(255, 255, 255);
    padding:10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family:monospace;
    background: linear-gradient(to right, rgb(35, 96, 177), rgb(35, 177, 177));
}

body {
    background-color:rgb(221, 227, 231);
}

.titulo {
    font-size: 50px;
}

.tema {
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: center;
    background-color:rgb(12, 12, 63);
    padding: 15px;
    font-size: 21px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav a {
    height:auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    margin-right: 70px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Pagina inicial */
main {
    background-color:white;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-radius: 10px;
}

h2{
    font-size: 35px;
    color:rgb(83, 133, 225);
    font-family:Arial, Helvetica, sans-serif
}


p {
    font-size: 30px;
    text-align: justify;
    color:rgb(60, 62, 75);
}

mark {
    background-color: aquamarine;
}

.container_img {
    display: flex;
    justify-content: center;
}

.img {
    height:auto;   
}

/* problema*/
.lista_p{
    font-size: 30px;
    text-align: justify;
    color:rgb(60, 62, 75);
}

h3 {
    color:rgb(30, 30, 77);
    font-size:30px;
}

/* footer*/
footer {
    display:flex;
    gap:10px;
    background-color:rgb(12, 12, 63);
    color: white;
    margin: 30px;
    margin-bottom: 0px;
    margin-top:10px;
    padding: 30px;
    border-radius:10px;
    color: rgb(49, 49, 182);
}

.p_footer {
    color: rgb(49, 49, 182);
    font-size: 25px;
}

.link_footer{
    justify-content:right;
    flex:0;
}
.h3_footer{
    font-size:30px;
    color: rgb(49, 49, 182);
}

.fontes {
    font-size: 20px;
    color: rgb(49, 49, 182);
}

.texto_footer{
    flex:1;
}